# Airflow systemd examples:
# https://github.com/apache/airflow/tree/main/scripts/systemd

# How to Run Apache Airflow as Daemon Using Linux “systemd”
# https://towardsdatascience.com/how-to-run-apache-airflow-as-daemon-using-linux-systemd-63a1d85f9702

# Running Airflow with systemd
# https://airflow.apache.org/docs/apache-airflow/stable/howto/run-with-systemd.html

[Unit]
Description=Apache Airflow {{ item }}
After=network.target
Wants=postgresql.service redis.service rabbitmq-server.service

[Service]
Environment="PATH=/usr/bin:{{ airflow_bin_path }}"
Environment="AIRFLOW_HOME={{ airflow_home }}"
User=airflow
Group=airflow
Type=simple
ExecStart={{ airflow_bin_path }}/airflow{% if item in ['worker', 'flower'] %} celery{% endif %} {{ item }}
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
